.heroHighlight {
  display: inline-block;
  background: linear-gradient(93.26deg, #4b5dff 0%, #7033be 105.94%);
  padding: 4px;
  border-radius: 4px;
  color: white;
  text-transform: lowercase;
}

body {
  --font-default: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ol li {
  font-family: var(--font-default);
}

.productBackground {
  min-height: 80vh;
}

.productDescription {
  font-size: 24px;
  font-weight: 700;
  color: white;
  font-size: 24px;
}
