.heroHighlight {
  display: inline-block;
  background: linear-gradient(93.26deg, #4b5dff 0%, #7033be 105.94%);
  padding: 4px;
  border-radius: 4px;
  color: white;
  text-transform: lowercase;
}

body {
  --font-default: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ol li {
  font-family: var(--font-default);
}

.ko-border {
  border: 3px solid #fff;
  border-radius: 6px;
}

.productSummary,
.productBackground,
.productDescription {
  color: white;
}

.productBackground {
  min-height: 80vh;
}

.productDescription {
  font-size: 24px;
  font-weight: 700;
  font-size: 24px;
}

.productReview {
  position: relative;
  max-width: 380px;
  border: 5px solid white;
  border-radius: 6px;
}

.productReview:hover .productReviewData {
  opacity: 1;
}

.productReviewData {
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  background: rgba(0, 0, 0, 0.5);
  color: white;
}
