.heroHighlight {
  display: inline-block;
  background: linear-gradient(93.26deg, #4b5dff 0%, #7033be 105.94%);
  padding: 4px;
  border-radius: 4px;
  color: white;
  text-transform: lowercase;
}

body {
  --font-family-default: "IBM Plex Sans", sans-serif;
  --font-size-default: 18px;
  --border-radius-default: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ol li {
  font-family: var(--font-family-default);
}

a,
p,
ol li {
  font-size: var(--font-size-default);
}

.ko-border {
  border: 3px solid #fff;
  border-radius: var(--border-radius-default);
}

.productSummary,
.productBackground,
.productDescription {
  color: white;
}

.productBackground {
  min-height: 80vh;
}

.productPhoto {
  max-width: 100%;
  padding: 20px;
  background: white;
  border-radius: var(--border-radius-default);
}

.productBackground :not(.productBackgroundImage) {
  z-index: 1;
}

.productBackgroundImage {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  background-size: cover;
  background-position: center;
}

.productDescription {
  font-size: 24px;
  font-weight: 700;
  font-size: 24px;
}

.productReview {
  position: relative;
  max-width: 380px;
  border: 5px solid white;
  border-radius: var(--border-radius-default);
}

.productReview:hover .productReviewData {
  opacity: 1;
}

.productReviewData {
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.kitDescription {
  font-size: 24px;
  font-weight: 500;
  font-size: 24px;
  color: white;
}
